---
layout: default
---

<link rel="stylesheet" href="{{ '/css/crt-theme.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/digital.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/blog-layout.css' | relative_url }}">

<aside class="left_sidebar">
    <div class="profile_data">
        <div class="profile_image"></div>
        <div class="floating_text">デジタル亡霊</div>
        <div class="glitch_text" data-text="VSAWYER">VSAWYER</div>
    </div>

    <div class="sidebar_section">
        <h3 class="sidebar_title">Categories</h3>
        <ul class="category_list">
            {% for category in site.categories %}
            <li><a href="#{{ category[0] }}">{{ category[0] }}</a> ({{ category[1].size }})</li>
            {% endfor %}
        </ul>
    </div>

    <div class="memory_fragment">
        <div class="entry_date">sys.time: undefined</div>
        "In the end, would it all be worth it?"
    </div>
</aside>

<main class="main_content">
    {{ content }}
</main>
