<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body ontouchstart="" class="dungeon_container">

<nav class="navigation">
    <div class="nav_links">
        <a href="{{ site.baseurl }}/">/home</a>
        <a href="{{ site.baseurl }}/about">/about</a>
    </div>
</nav>

{{ content }}

{% include footer.html %}

<script>
    function glitchText() {
        const texts = document.querySelectorAll('.glitch_text');
        texts.forEach(text => {
            setInterval(() => {
                text.style.transform = `translate(${Math.random() * 2 - 1}px, ${Math.random() * 2 - 1}px)`;
                setTimeout(() => {
                    text.style.transform = 'translate(0, 0)';
                }, 50);
            }, 3000);
        });
    }
    glitchText();
</script>
</body>

</html>
