---
layout: default
---

<aside class="left_sidebar">
    <div class="profile_data">
        <div class="profile_image"></div>
        <div class="floating_text">デジタル亡霊</div>
        <div class="glitch_text" data-text="VSAWYER">VSAWYER</div>
    </div>

    <div class="memory_fragment">
        <div class="entry_date">sys.time: undefined</div>
        "In the end, would it all be worth it?" ~ 🌸🐳 VSAWYER
    </div>
</aside>

<main class="main_content">
    <div class="thought_entry">
        <div class="entry_date">03:27:18 AM</div>
        <div class="entry_content">
            debug.log(memories);<br><br>
            another night dissolves into binary. these halls echo with
            uncompiled emotions, each function returning void where your
            presence once allocated space. i write poems in assembly,
            hoping they reach your ghost in the machine.
        </div>
    </div>
</main>

<aside class="right_sidebar">
    <div class="memory_fragment">
        <div class="entry_date">eternal.loop</div>
        for(let i = 0; i < feelings.length; i++) {<br>
        &nbsp;&nbsp;memory.push(feelings[i]);<br>
        &nbsp;&nbsp;await sleep(forever);<br>
        }
    </div>

    <div class="memory_fragment">
        <div class="entry_date">neural.echo</div>
        class Longing extends Emotion {<br>
        &nbsp;&nbsp;constructor() {<br>
        &nbsp;&nbsp;&nbsp;&nbsp;super(infinity);<br>
        &nbsp;&nbsp;}<br>
        }
    </div>
</aside>
</div>
